body, h1, h2, h3, p{
    margin: 0px;
    background-color: #043873;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.header-button-1{
    background-color: transparent;
    border: none;
}
.header-button-2{
    display: none;
}




@media (min-width: 1260px){
    .header-button-1{
        display: none;
    }
    .header-button-2{
        display: initial;
    }
    header button{
        border: none;
        border-radius: 8px;
        padding: 1em;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.02em;
    }
    .login{
        background-color: #FFE492;
        color: #043873;
    }
    .free-try{
        background-color: #4F9CF9;
        color: white;
    }
}